In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(
    'cars_sampled.csv',
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50001 non-null  object
 1   name                 50001 non-null  object
 2   seller               50001 non-null  object
 3   offerType            50001 non-null  object
 4   price                50001 non-null  int64
 5   abtest               50001 non-null  object
 6   vehicleType          44813 non-null  object
 7   yearOfRegistration   50001 non-null  int64
 8   gearbox              47177 non-null  object
 9   powerPS              50001 non-null  int64
 10  model                47243 non-null  object
 11  kilometer            50001 non-null  int64
 12  monthOfRegistration  50001 non-null  int64
 13  fuelType             45498 non-null  object
 14  brand                50001 non-null  object
 15  notRepairedDamage    40285 non-null  object
 16  dateCreated          50001 non-null  object
 17  postalCode           50001 non-null  int64
 18  lastSeen             50001 non-null  object
dtypes: int64(6), object(13)
memory usage: 7.2+ MB

In [3]:
cars = df.copy()
cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,30/03/2016 13:51,Zu_verkaufen,private,offer,4450,test,limousine,2003,manual,150,3er,150000,3,diesel,bmw,NaN,30/03/2016 00:00,20257,07/04/2016 04:44
1,07/03/2016 09:54,Volvo_XC90_2.4D_Summum,private,offer,13299,control,suv,2005,manual,163,xc_reihe,150000,6,diesel,volvo,no,07/03/2016 00:00,88045,26/03/2016 13:17
2,01/04/2016 00:57,Volkswagen_Touran,private,offer,3200,test,bus,2003,manual,101,touran,150000,11,diesel,volkswagen,NaN,31/03/2016 00:00,27449,01/04/2016 08:40
3,19/03/2016 17:50,Seat_Ibiza_1.4_16V_Reference,private,offer,4500,control,small car,2006,manual,86,ibiza,60000,12,petrol,seat,no,19/03/2016 00:00,34537,07/04/2016 04:44
4,16/03/2016 14:51,Volvo_XC90_D5_Aut._RDesign_R_Design_AWD_GSHD_S...,private,offer,18750,test,suv,2008,automatic,185,xc_reihe,150000,11,diesel,volvo,no,16/03/2016 00:00,55270,01/04/2016 23:18

In [6]:
"""Working range of data"""
cars=cars[
    (cars.yearOfRegistration <= 2020) &
    (cars.yearOfRegistration >= 1950) &
    (cars.powerPS >= 10) &
    (cars.powerPS <= 500) &
    (cars.price <= 150000) &
    (cars.price >= 1000)
    ]
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35731 entries, 0 to 50000
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          35731 non-null  object
 1   name                 35731 non-null  object
 2   seller               35731 non-null  object
 3   offerType            35731 non-null  object
 4   price                35731 non-null  int64
 5   abtest               35731 non-null  object
 6   vehicleType          33812 non-null  object
 7   yearOfRegistration   35731 non-null  int64
 8   gearbox              35192 non-null  object
 9   powerPS              35731 non-null  int64
 10  model                34501 non-null  object
 11  kilometer            35731 non-null  int64
 12  monthOfRegistration  35731 non-null  int64
 13  fuelType             34004 non-null  object
 14  brand                35731 non-null  object
 15  notRepairedDamage    31301 non-null  object
 16  dateCreated          35731 non-null  object
 17  postalCode           35731 non-null  int64
 18  lastSeen             35731 non-null  object
dtypes: int64(6), object(13)
memory usage: 5.5+ MB

# Hypothesis testing steps
* Hypotheses
* Sample Statistics
* test Statistics
* Critical Values
* Max Uncertainty
* Computed Uncertainty
* Decision on HO

In [ ]:
# Arriving at a sub sample from 'cars' data
sample_size = 1000

sample1 = cars.sample(
    sample_size,
    random_state=0 # seed for reproducibility
)