In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
# read data 
df = pd.read_csv(
    'assignment-datasets/Stock_File_1.csv',
    )

df.describe()

              Open         High          Low        Close
count   161.000000   158.000000   159.000000   158.000000
mean    846.829317   808.525253   810.990000   819.263481
std     295.961500   269.669343   270.408865   272.956317
min     364.000000   366.000000   354.000000   363.600000
25%     700.040000   642.500000   676.100000   686.075000
50%     794.000000   782.250000   772.000000   781.815000
75%     922.000000   898.750000   893.000000   891.025000
max    1755.800000  1650.000000  1600.050000  1607.850000

In [9]:
print(df.info())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    165 non-null    object
 1   Open    161 non-null    float64
 2   High    158 non-null    float64
 3   Low     159 non-null    float64
 4   Close   158 non-null    float64
 5   Volume  165 non-null    object
dtypes: float64(4), object(2)
memory usage: 7.9+ KB
None
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')