In [2]:
"""
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
"""

# Write an SQL query to report the first login date for each player.

# Return the result table in any order.

select player_id, min(event_date) as first_login from Activity group by player_id;

'\n+-----------+-----------+------------+--------------+\n| player_id | device_id | event_date | games_played |\n+-----------+-----------+------------+--------------+\n| 1         | 2         | 2016-03-01 | 5            |\n| 1         | 2         | 2016-05-02 | 6            |\n| 2         | 3         | 2017-06-25 | 1            |\n| 3         | 1         | 2016-03-02 | 0            |\n| 3         | 4         | 2018-07-03 | 5            |\n+-----------+-----------+------------+--------------+\n\n+--------------+---------+\n| Column Name  | Type    |\n+--------------+---------+\n| player_id    | int     |\n| device_id    | int     |\n| event_date   | date    |\n| games_played | int     |\n+--------------+---------+\n(player_id, event_date) is the primary key of this table.\nThis table shows the activity of players of some games.\nEach row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.\n'

In [3]:
"""
Table: Users

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| name          | varchar |
+---------------+---------+
id is the primary key for this table.
name is the name of the user.
"""

"""
Table: Rides

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| user_id       | int     |
| distance      | int     |
+---------------+---------+
id is the primary key for this table.
user_id is the id of the user who traveled the distance "distance".
"""

"""
+----------+--------------------+
| name     | travelled_distance |
+----------+--------------------+
| Elvis    | 450                |

"""


# Write an SQL query to report the distance traveled by each user.

# Return the result table ordered by travelled_distance in descending order,
# if two or more users traveled the same distance,
# order them by their name in ascending order.

"""
select 
    u.name as name,
    is_null(sum(r.distance), 0) as travelled_distance,
from
    Users u
join
    Rides r
on
    u.id = r.user_id
# order them by their name in ascending order.
order by travelled_distance desc, name asc;
"""

"""
select 
u.name, 
ifnull(sum(r.distance),0) as travelled_distance 
from users u 
left join 
rides r on u.id = r.user_id 
group by u.name order by travelled_distance desc, u.name asc
"""

IndentationError: unexpected indent (3646862684.py, line 44)

In [ ]:
{"headers": ["name", "travelled_distance"], "values": [["Elvis", 400], ["Bob", 317], ["Jonathan", 312], [
    "Lee", 230], ["Alex", 222], ["Alice", 120], ["Lee", 120], ["Lee", 100], ["Elvis", 50]]}

{"headers": ["name", "travelled_distance"], "values": [["Elvis", 450], ["Lee", 450], [
    "Bob", 317], ["Jonathan", 312], ["Alex", 222], ["Alice", 120], ["Donald", 0]]}


{"headers":
{"Users":["id","name"],"Rides":["id","user_id","distance"]},
"rows":{"Users":[[1,"Alice"],[2,"Bob"],[3,"Alex"],[4,"Donald"],[7,"Lee"],[13,"Jonathan"],[19,"Elvis"]],
"Rides":[[1,1,120],[2,2,317],[3,3,222],[4,7,100],[5,13,312],[6,19,50],[7,7,120],[8,19,400],[9,7,230]]}}