In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Datasets/Tips.csv')
df.head()

   SINO  TotalBill  Tips Smoker  Day    Time  Size  Gender
0     1      16.99  1.01     No  Sun  Dinner   2.0  Female
1     2      10.34  1.66     No  Sun  Dinner   3.0    Male
2     3      21.01  3.50     No  Sun  Dinner   3.0    Male
3     4      23.68  3.31     No  Sun  Dinner   2.0    Male
4     5      24.59  3.61     No  Sun  Dinner   4.0  Female

In [3]:
# correlation coefficient between the variables TotalBill and Tips
df.corr(method='pearson')

               SINO  TotalBill      Tips      Size
SINO       1.000000   0.098810  0.077571 -0.263303
TotalBill  0.098810   1.000000  0.764716  0.587403
Tips       0.077571   0.764716  1.000000  0.448241
Size      -0.263303   0.587403  0.448241  1.000000

In [6]:
# The range of the varable "TotalBill" is:
range = df.TotalBill.max() - df.TotalBill.min()
range

45.2

In [65]:
# Number of all null vals in smoker col in df
df.isnull().sum()

SINO         0
TotalBill    2
Tips         6
Smoker       7
Day          7
Time         3
Size         1
Gender       7
dtype: int64

In [7]:
# find the 3rd quartil and max value of the variable "TotalBill"
df.describe()

             SINO  TotalBill       Tips       Size
count  100.000000  98.000000  94.000000  99.000000
mean    50.500000  19.805408   3.036170   2.525253
std     29.011492   7.950817   1.201806   0.824911
min      1.000000   3.070000   1.000000   1.000000
25%     25.750000  15.017500   2.035000   2.000000
50%     50.500000  18.285000   3.000000   2.000000
75%     75.250000  23.965000   3.577500   3.000000
max    100.000000  48.270000   6.730000   4.000000

In [67]:
# display the col names of a dataframe.
print(df.columns)
print("")
print(list(df.columns.values))
for i in df.columns:
    print(i)

Index(['SINO', 'TotalBill', 'Tips', 'Smoker', 'Day', 'Time', 'Size', 'Gender'], dtype='object')

['SINO', 'TotalBill', 'Tips', 'Smoker', 'Day', 'Time', 'Size', 'Gender']
SINO
TotalBill
Tips
Smoker
Day
Time
Size
Gender

In [8]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}


df_dict = pd.DataFrame(data)
df_dict

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [9]:
# Correlation between two variables X&Y is 0.85. Now, after adding the value 2 to all the values of X
x = pd.Series([11,12,13,14,15,16,17,18,19,20])
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])


x + 2

x.corr(y)

0.7586402890911867