In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv(
    'Datasets/Toyota.csv',
    index_col=0,
    na_values=['??', '????']
)

df.head()
df['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [19]:
def fill_null(x):
    if x.dtype == "float":
        return x.fillna(x.mean(), inplace=True)
    else:
        x.fillna(x.value_counts().index[0], inplace=True)

In [21]:
df.apply(fill_null)

Price        None
Age          None
KM           None
FuelType     None
HP           None
MetColor     None
Automatic    None
CC           None
Doors        None
Weight       None
dtype: object

In [22]:
df.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [23]:
# When using a lambda function it must be assigned to a variable. 

df = df.apply(
    lambda x: x.fillna(x.mean()) \
    if x.dtype == "float" \
        else x.fillna(x.value_counts().index[0])
)

In [24]:
df['Doors'].replace(
    'three', 3, inplace=True
)
df['Doors'].replace(
    'two', 2, inplace=True
)
df['Doors'].replace(
    'one', 1, inplace=True
)

In [25]:
df.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.000000,0,2000,3,1165
1,13750,23.0,72937.0,Diesel,90.0,1.000000,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,0.674961,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.000000,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.000000,0,2000,3,1170