In [2]:
import pandas as pd
import numpy as np

In [31]:
# importing data from a csv file

data_csv = pd.read_csv(
    'Datasets/Iris_data_sample.csv', 
    index_col = 0,
    na_values=['NA', '?', '.', '-', '###'],
    )

data_csv.head(3)

  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1           5.1           3.5            1.4           0.2  Iris-setosa
2           4.9           NaN            1.4           0.2          NaN
3           4.7           3.2            1.3           0.2  Iris-setosa
4            ??           3.1            1.5           0.2  Iris-setosa
5             5           3.6            NaN           0.2  Iris-setosa

In [33]:
# Importing data from a text
data_text = pd.read_table(
    'Datasets/Iris_data_sample.txt',
    index_col = 0,
    # delimiter='\t',
    delimiter=' ',
)
print(data_text.head(3))
print(data_text.tail(3))

   Unnamed: 0  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
1           1            5.1           3.5            1.4           0.2
2           2            4.9           3.0            1.4           0.2
3           3            4.7           3.2            1.3           0.2

       Species
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
     Unnamed: 0  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
148         148            6.5           3.0            5.2           2.0
149         149            6.2           3.4            5.4           2.3
150         150            5.9           3.0            5.1           1.8

            Species
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica

In [28]:
!! pip install openpyxl

['Collecting openpyxl',
 '  Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)',
 'Collecting et-xmlfile',
 '  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)',
 'Installing collected packages: et-xmlfile, openpyxl',
 'Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9']

In [30]:
# import excel sheets 
data_xlxs = pd.read_excel(
    'Datasets/Iris_data_sample.xlsx',
    sheet_name="Iris_data"
)
data_xlxs.head(3)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa