In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(
    'Datasets/Toyota.csv',
    index_col=0
)
df.head()

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

In [6]:
# shallow copy
df_shallow_copy = df
df

df_shallow_copy = df.copy(deep=False)

In [7]:
# Deep Copy

df_deep_copy = df.copy(deep=True)

In [8]:
# Get the col names 

df.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [11]:
# Diementionality of a dataframe.
df.shape  # (rows, columns)
df.size  # Total number of elements in the dataframe

14360

In [14]:
# Memory Usage of a dataframe
df.memory_usage()
# ndim
df.ndim # Number of dimensions rows and cols

2

In [23]:
# Indexing and Selecting data (Python Slicing methods)
df.head() # return the first 5 rows
df.head(3) # return the first 3 rows

# label based indexing
df.at[0, 'Doors'] # return the value of the first row and the first column

# integer based indexing or lookups.
df.iat[0, 2] # return the value of the first row and the first column

'46986'

In [29]:
# Fetching all the rows from a col called color.
df_1 = df.copy(deep=True)
df_1 = df_1.head()
df_1.loc[:, 'KM']

0    46986
1    72937
2    41711
3    48000
4    38500
Name: KM, dtype: object