In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv(
    'Datasets/Toyota.csv',
    index_col=0
)

print(
    df.head(),
)

print(df.shape)

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170
(1436, 10)

In [3]:
df.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [5]:
# selecting data based on data types.
df.select_dtypes(include=['int64', 'float64']).head()
df.select_dtypes(include=['object']).head()

      KM FuelType  HP  Doors
0  46986   Diesel  90  three
1  72937   Diesel  90      3
2  41711   Diesel  90      3
3  48000   Diesel  90      3
4  38500   Diesel  90      3

In [23]:
# selecting unique elements in a column using numpy
count = np.unique(df['KM'])
print(len(count)) 

# fuel_unique = np.unique(df['FuelType']) STRING NOT SUPPORTED

Doors_unique = np.unique(df['Doors'])
print(len(Doors_unique))

1256
7